<div class="container">

    <div class="row">
    	<h3>Contact Details</h3>
    </div>
    <div class="row">

		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Mobile Number</th>
				<th>Message</th>
				<th>Actions</th>
			</tr>
			<tr>
				<td colspan="3">
					<input type="text" ng-model="searchKeyword" placeholder="search keyword in table" class="form-control">
				</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection | filter : searchKeyword">
				<td>{{row.name | uppercase}}</td>
				<td>{{row.email}}</td>
				<td>{{row.phone}}</td>
				<td>{{row.message}}</td>
				<td><input type="button" class="btn btn-primary btn-xs" value="Edit" ng-click="editrow(row._id)"></td>
				<td><input type="button" class="btn btn-danger btn-xs" value="Delete" ng-click="deleterow(row._id)"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>